@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: 250px;
  margin: 10px 0;
  border: 1px solid $green;
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
  border-radius: 2px;

  &.isOpen {
    .list {
      display: block;
    }

    .caret {
      transform: rotateY(0deg) rotate(180deg);
    }
  }
}

.button {
  height: 45px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  background: none;
  border: none;
  color: $black;
}

.title {
  font-size: 18px;
  text-transform: capitalize;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  display: flex;
  align-items: center;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;

  &.isOpen {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
  }
}

.list {
  position: absolute;
  z-index: 1;
  background: $white;
  max-height: 183px;
  overflow: auto;
  top: 40px;
  left: -1px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 0;
  display: none;
  border: 1px solid $green;
  list-style: none;
}

.listItem {
  height: 45px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid $green;
  color: $black;
  text-transform: capitalize;
  cursor: pointer;

  &.selected {
    background: $tan;
  }

  &.highlighted {
    background: $tanOutline;
  }

  &:last-child {
    border-bottom: none;
  }
}
