@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.mapContainer {
  margin: 0 100px;
  overflow: hidden;
  @media (max-width: 1024px) {
    margin: 1rem 0;
  }
}

.tooltip {
  position: absolute;
  padding: 2px;
  font-size: 12px;
  background: $white;
  border: 1px solid black;
  opacity: 0;
}
