@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.mapContainer {
  margin: 0 100px;
  overflow: hidden;
  @media (max-width: 1024px) {
    margin: 0 25px;
  }
  @media (max-width: $mobile-landscape) {
    border: none;
  }
}
