@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.container {
  margin: 0 100px;
  padding-bottom: 100px;

  @media (max-width: $desktop) {
    margin: 0 25px;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $green;
  border-bottom: 2px solid $green;
  margin-bottom: 2rem;

  h2 {
   font-family: "Nanum Myeongjo", serif;
   text-transform: capitalize;
   font-size: 28px;
   font-weight: 400;
   letter-spacing: 8px;
  }
}

.count {
  position: absolute;
  right: 0;
  font-size: 18px;
  letter-spacing: normal;
  white-space: nowrap;
}

.listContainer {
  column-count: 3;
  column-fill: auto;

  @media (max-width: $desktop) {
    column-count: 2;
  }

  @media (max-width: $mobile-landscape) {
    column-count: 1;
  }
}
