@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.container {
  margin: 0 100px;
  padding-bottom: 100px;

  @media (max-width: $desktop) {
    margin: 0 25px;
  }
}

.header {
  display: grid;
  align-items: center;
  color: $green;
  border-bottom: 2px solid $green;
  margin-bottom: 2rem;
  text-align: center;

  h2 {
   font-family: "Nanum Myeongjo", serif;
   text-transform: capitalize;
   font-size: 22px;
   font-weight: 400;
   letter-spacing: 8px;
   grid-column-start: 1;
   grid-row-start: 1;
   justify-self: center;
  }

  @media (max-width: $mobile-landscape) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
  }
}

.count {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: right;
}

.listContainer {
  column-count: 3;
  column-fill: auto;

  @media (max-width: $desktop) {
    column-count: 2;
  }

  @media (max-width: $mobile-landscape) {
    column-count: 1;
  }
}
