@import "../../styles/breakpoints.scss";

.container {
  position: relative;
  margin: 0 100px;
  display: grid;
  align-items: center;

  @media (max-width: 1024px) {
    margin: 0 50px;
  }

  @media (max-width: $mobile-landscape) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
}

.dropdown {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
}

.countMobile, .countDesktop {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: right;
}

.countMobile {
  @media (min-width: $mobile-landscape) {
    display: none
  }
}

.countDesktop {
  @media (max-width: 760px) {
    display: none
  }
}
