@import "../../styles/breakpoints.scss";

.container {
  display: none;
  position: absolute;
  border: 1px solid #dee3e3;
  background: white;
  z-index: 1;
  top: 50px;
  right: 3rem;

  .list {
    margin: 0 2rem;
    padding: 0;
  }

  .listItem {
    display: flex;
    list-style: none;
    height: 45px;
    border-bottom: 1px solid #dee3e3;
    padding: 0 2rem;
    font-size: 1rem;

    &:last-child {
      border: none;
    }
  }

  .listItem {
    display: flex;
    list-style: none;
    height: 45px;
    border-bottom: 1px solid #dee3e3;
    padding: 0 2rem;
    font-size: 1rem;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  &.show {
    display: block;
  }
}
