@import "../../../styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  font-family: "Nanum Myeongjo", serif;
  color: $green;
}

.header {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.total {
  display: block;
  font-size: 3rem;
}
