@import "../../styles/colors.scss";

.container {
  width: 420px;
  background: $white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    cursor: pointer;
  }
}

.header {
  font-size: 32px;
  font-weight: 400;
  color: $green;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  width: 90%;
}

.registerText {
  width: 400px;
  text-align: center;

  button {
    font-size: 1rem;
    background: none;
    border: none;
  }
}

.button {
  height: 50px;
  width: 100%;
  margin: 10px 0 2rem;
  border-radius: 4px;
  border: 1px solid $green;
  background: $green;
  color: $white;
  font-size: 16px;
  font-weight: 600;

  &:disabled,
  &[disabled] {
    // border: 1px solid #999999;
    // background-color: #eeeeee;
    // color: #666666;
    cursor: not-allowed;
  }
}
