@import "../../styles/colors.scss";

.container {
  width: 420px;
  background: $white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 32px;
  font-weight: 400;
  color: $green;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  width: 90%;

  button {
    height: 50px;
    width: 100%;
    margin: 10px 0 2rem;
    border-radius: 4px;
    border: 1px solid $green;
    cursor: pointer;
  }
}

.button {
  background: $green;
  color: $white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.registerText {
  width: 400px;
  text-align: center;

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
}
