@import "../../../styles/colors.scss";

.button {
  border: 1px solid $green;
  border-radius: 4px;
  background: $green;
  color: $white;
  padding: 1rem 0;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &.sm {
    padding: 5px 10px;
  }

  &:disabled,
  &[disabled] {
    background-color: $disabledGreen;
    cursor: not-allowed;
  }
}

.text {
  position: relative;
}

.spinner {
  position: absolute;
  left: -25px;
}
