@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.link {
  fill: $black;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;

  &.selected {
    fill: $white;
  }
}

.circle {
  fill: $lightGreen;

  &.isSelected {
    fill: $green;
  }

  &.showTree {
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
  }
}

.icon {
  position: relative;
  display: none;
  @media (min-width: $tablet) {
    display: block;
  }
}
