@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";

.container {
  height: 100%;
}

.count {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: right;

  &.desktopCount {
    display: block;
    @media (max-width: $mobile-landscape) {
      display: none;
    }
  }
}

.mobileCount {
  display: none;
  @media (max-width: $mobile-landscape) {
    display: block;
  }
}

.dropdownWrapper {
  margin: 0 100px;
  display: grid;
  align-items: center;
  color: $green;
  text-align: center;

  @media (max-width: $desktop) {
    margin: 0 50px;
  }

  @media (max-width: $mobile-landscape) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
}

.dropdowns {
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-row-start: 1;
}

.designation {
  width: 250px;
  margin-right: 1rem;
}

.state {
  width: 100px;
}
