@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.125rem;
  margin: 0 30px;
  background: $white;
}

.content {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;

  @media (max-width: 550px) {
    margin-left: 0;
    justify-content: center;
  }
}

.img {
  padding-right: 5px;
}

.title {
  color: $green;
  font-weight: 600;
  font-size: 1rem;
}
