@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  color: $green;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.125rem;
  padding: 0 100px;
  background: $white;

  @media (max-width: $desktop) {
    padding: 0 50px;
  }
}

.header {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;

  @media (max-width: 550px) {
    margin-left: 0;
    justify-content: center;
  }
}

.button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: $green;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 40px;
  padding-right: 10px;
}

.total {
  margin-right: 1rem;
}

.right {
  display: flex;
  align-items: center;
  color: $green;

  .avatar {
    border-radius: 50px;
    border: 1px solid $green;
  }
}

.img {
  padding-right: 5px;
}

.title {
  font-weight: 600;
  font-size: 1rem;
}
