.inputError {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-top: 5px;
  left: 0;
  font-size: 0.725rem;
  color: #cb4c48;
  text-align: left;
}
