@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";

.section {
  display: grid;
  margin: 0 100px;
  grid-gap: 10px;
  grid-template-columns: 30% 70%;
  padding-bottom: 100px;
  margin-top: 2rem;

  @media (max-width: $desktop) {
    margin: 0 50px;
  }

  @media (max-width: $mobile-landscape) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
}

.mapContainer {
  margin-top: 20px;

  @media (max-width: $mobile-landscape) {
    display: none;
  }
}

.columnOne {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  border-right: 1px solid $lightGray;
}

.columnTwo {
  grid-column-start: 2;
  padding: 0 20px;
}

.progress {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 15px 0 25px;
  @media (max-width: $mobile-landscape) {
    margin: -20px 0 20px 0;
  }
}

.wrapper {
  width: 150px;
  height: 150px;

  :global(.CircularProgressbar-text) {
    transform: translate(-11px, 5px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Nanum Myeongjo", serif;
  color: $green;
}

// .progressContainer {
//   // border-radius: 1.5rem;
//   // box-shadow: 0 2px 32px 0 #0000001a;
// }

.total {
  display: block;
  font-size: 3rem;
}

.tileContainer {
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap;
}
