@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";

.section {
  display: grid;
  margin: 0 100px;
  padding-bottom: 50px;
  grid-gap: 10px;
  grid-template-columns: 30% 70%;
  padding-bottom: 100px;

  @media (max-width: 1024px) {
    margin: 0 50px;
  }

  @media (max-width: $mobile-landscape) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
}

.desktop {
  @media (max-width: $mobile-landscape) {
    display: none;
  }
}

.mobile {
  @media (min-width: $mobile-landscape) {
    display: none;
  }
}

.columnOne {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
  border-right: 1px solid $lightGray;
}

.columnTwo {
  grid-column-start: 2;
  padding-left: 10px;
}

.progress {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
