@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.footer {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  background: $white;
  width: 100vw;
  z-index: 1;
  padding: 0.5rem 0;
}

.links {
  margin-right: 3rem;

  svg {
    width: 1.4rem;
    height: 1.4rem;
  }

  a {
    color: $green;
    padding: 0 10px;
  }
}
