@import "../../../styles/colors.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  @media (max-width: 1024px) {
    padding-top: 50px;
  }
}

.table {
  width: 90%;
  border-collapse: collapse;
}

.thead,
.tfoot {
  text-align: left;
  color: $green;
}

.row {
  border-top: 2px solid $green;
  border-bottom: 1px solid $green;
}

.tr {
  border-bottom: 1px solid $lightGray;
}

.th,
.td {
  padding: 16px;
  text-transform: capitalize;
  text-align: left;
}

.th,
.td {
  &:first-of-type {
    width: 70%;
  }
}
