@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.menuIcon {
  height: 3.125rem;
  display: flex;
  border-bottom: 5px solid transparent;

  &.active {
    border-bottom: 5px solid $green;
  }
}

.button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: $green;
  font-weight: 600;
  font-size: 1rem;
}

.avatar {
  border-radius: 50px;
  border: 1px solid $green;
}
