@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
  font-weight: bold;

  &:hover {
    .tooltipContent {
      visibility: visible;
    }
  }
}

.tooltipContent {
  left: 50%;
  transform: translate(-50%, 20%);
  width: 150px;
  color: $black;
  font-weight: normal;
  text-align: center;
}

.tooltipBaseStyle {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  height: auto;
  padding: 10px;
  background: white;
  border-radius: 10px;
  border: 1px solid $black;
  font-size: 12px;

  &::before {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -11px;
    border: 11px solid transparent;
    border-bottom-color: $black;
  }

  &::after {
    content: " ";
    position: absolute;
    bottom: 99%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: $white;
  }
}
