@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.mapContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.state {
  fill: $tan;
  stroke: $tanOutline;
}
