@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.mapContainer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.state {
  fill: $tan;
  stroke: $tanOutline;
}
